# IDE Settings
.vscode/
.idea/

# Web / Frontend dependencies
node_modules/
.env
dist/
build/
.DS_Store

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.pytest_cache/

# Large Data files
ignivis-backend/models/stress_skin_model.joblib