fastapi
uvicorn
sqlalchemy
pydantic[email]
python-multipart
passlib[bcrypt]
python-jose
opencv-python-headless
scikit-learn
numpy
pandas
joblib
requests
python-dotenv
google-generativeai
psycopg2-binary
gdown