fastapi
uvicorn
sqlalchemy
pydantic
python-multipart
passlib[bcrypt]
python-jose
opencv-python-headless
mediapipe
scikit-learn
numpy
pandas
joblib
requests
python-dotenv
google-generativeai
psycopg2-binary
gdown